<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="w3-container w3-padding-32 w3-light-blue w3-center">
  <div class="w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
    <h2>Contact</h2>
    <i class="fa fa-phone" style="width:30px"></i> Phone: +2348109616049<br>
    <i class="fa fa-envelope" style="width:30px"> </i> Email: info@myafrihub.com<br>
  <p class="w3-medium">Copyright &copy; Afriteck 2018. All Rights Reserved. <a href="/terms" target="_blank" class="w3-hover-text-green">Terms and Conditions</a></p>
</div>
  </ul>


