<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Afrihub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
body {
  margin: 0;
  font-size: 28px;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.sticky + .content {
  padding-top: 60px;
}

.wrapper {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(50, 50, 50, 0.5);
}

.search-background img {
    width: 100%;
}

</style>
</head>
        <%- include('partials/navbar') %>
<body>
    <div class="container">
        <div class="jumbotron">
		<div class="search-background">
	<img src="/img/robot.jpeg">
            <h1>Is an A.I. Capable of Sentience?</h1>
		<h3>The quest for artificial intelligence could yield something that not only out-thinks humanity but can also feel like us.</h3>
		</div>
        </div>

        <div class="row">
           <div class="panel panel-default">
                        <div class="panel-body">                
<br><p><font color="green"> <i class="fa fa-user"></i> Created by: <a href="https://medium.com/@tdeller" target="_blank"style="color: rgb(0,0,255)"> Tony Deller </font></a></p>
        <div>
	  <img src="/img/dolphin1.jpeg">        
	   <br><a href ="https://www.pexels.com" target="_blank"style="color: rgb(0,0,255)"> www.pexels.com </a></br>
	</div>
</br>
<br> <p class="list-group-item-text">“Sentience” is a word with seriously heavy connotations that also tends to hold different meaning to differing people and under differing circumstances.

First, some definitions are in order:

Intelligence: 1 a : the ability to learn or understand or to deal with new or trying situations. b : the ability to apply knowledge to manipulate one’s environment or to think abstractly as measured by objective criteria (as tests) 2 : mental acuteness. <a href="https://www.merriam-webster.com/dictionary/sentient"target="_blank"style="color: rgb(0,0,255)"> (Merriam-Webster) </a>

Sentient: 1: responsive to or conscious of sense impressions: sentient beings. 2: aware 3: finely sensitive in perception or feeling <a href="https://www.merriam-webster.com/dictionary/intelligence"target="_blank"style="color: rgb(0,0,255)"> (Merriam-Webster) </a></p></br>
	<div>
	<img src="/img/dolphin.jpeg">
	   <br><a href ="https://www.pexels.com" target="_blank"style="color: rgb(0,0,255)"> www.pexels.com </a></br>
	</div>

<br><p>Our planet is an amazing place, full of life that defies expectations at every turn. There are other animals on Earth aside from humans that exhibit BOTH intelligence and sentience, in every way you might choose to interpret those definitions. Is intelligence unique to Earth? We may never know for sure, but science so far has shown us that it is not unique to humanity.</p></br>

<h2>Biological Intelligence</h2>

<p>Consider the bottlenose dolphin, a creature that shares a similarly large and complex brain with humans, which is capable of understanding numerical continuity and perhaps even discriminate between numbers. They possess a level of self-awareness on par with elephants, great apes, and humans. And though there is still scant real evidence of language in their whistle-based communication, scientists realized decades ago that these cetaceans could learn and understand basic concepts through sign language and respond to them via behavior.

Dr. John Lilly, a man of many interests, including the bases of human consciousness, found a great deal of inspiration in dolphins as well, devising many experiments to ascertain if dolphins could communicate with humans and vice versa. His work helped propo up the Marine Mammal Protection Act of 1972.

Aside from cetaceans, elephants and great apes have long been subjects of study into their apparently high levels of sentience. Great apes, belonging to the Hominidae family, to which we humans also belong, include gorillas, orangutans, chimpanzees and bonobos. There is currently a movement, gathering momentum, to push for rights to be granted to non-human animals. There is another movement focusing on the great apes themselves, which aims to grant them rights on a level currently reserved for people. This status is called “personhood”, and is based on decades of findings in the research of Jane Goodall, Richard Dawkins, and many others.</p>

	<br><div>
	<img src="/img/monkey.jpeg">
	   <br><a href ="https://unsplash.com/photos/reXwAuEdkVM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank"style="color: rgb(0,0,255)">Photo by Ryan Al Bishri </a></br>
	</div></br>
<br><p>The “mirror test”, devised by psychologist Gordon Gallup in 1970, anesthetizes an animal, places a mark or sticker on it, and when it wakes it is placed in front of a mirror. If the animal recognizes that the mark is new, it is taken as proof that the animal must also recognize that what it sees in the mirror is “itself”. Most animals, dogs included, tend to react as though what they see is merely an “other”. But the great apes, elephants, and cetaceans have regularly passed the mirror test…

But so has the Eurasian magpie in 2008, and then in 2015 several ant species recognized that a blue dot had been painted on their faces only when seeing themselves in a mirror. Until then, it was thought that the more “evolved” brains of great apes, cetaceans and elephants was the key to this self-recognition. Now, self-recognition — self-awareness, even — may be due to programming in the brain.

Indeed, the octopus is a corollary to this. In one study, published in Nature in 2015, scientists released their findings when analyzing the octopus genome that clearly show some astounding results of parallel evolution. Even though octopods are almost as distanced from humans on the evolutionary tree as a species can get, their physical forms and placement in their environmental food chain led over time to similarly complex development of their brains and nervous systems. Living as benthic-zone animals, having to forage for food while avoiding swift predators, proved to be similar in many respects to the hominid evolutionary path which began for humans living on African savannahs. We (and the octopods) had to become smarter in order to survive, and the prehensility offered by hands and tentacles allowed for the means to explore our worlds in various ways.</p></br>

	<div>
	<img src="/img/octopus.jpeg">
	   <br><a href ="https://unsplash.com/photos/NpQSAv29evU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank"style="color: rgb(0,0,255)">Photo by Vlad Tchompalov</a></br>
	</div>

<br><p>Yet, because humans and octopods are so different, when we subject an octopus to the mirror test we understand so little about their “alien” appearance and behaviors that we can’t tell if they are displaying self-recognition or not. They are obviously an intelligent animals, able to solve problems and outwit predators, and possibly on the level of great apes, cetaceans and elephants. But are they sentient? Are they self-aware? Does intelligence beget sentience?</p></br>

<h2>Today's State of the Art</h2>

<p>Today's AI cannot create an algorithm that satisfies a human's intent in all but the simplest cases. What we do have is AI that can divine insights from patterns in large data sets.

If we can boil down algorithms into such datasets, then we can make some headway. For example, if an AI-based application has access to a vast number of human-created workflows, then it can make a pretty good guess as to the next step in a workflow you might be working on at the moment.

In other words, we now have autocomplete for algorithms — what we call "next best action." We may still have to give our software some idea of how we want an application to behave, but AI can assist us in figuring out the steps that make it work.</p>

<br><h2>Artificial Intelligence</h2></br>

<p>And now it’s time for one more definition:

Artificial Intelligence: 1: a branch of computer science dealing with the simulation of intelligent behavior in computers 2: the capability of a machine to imitate intelligent human behavior <a href="https://www.merriam-webster.com/dictionary/artificial%20intelligence"target="_blank"style="color: rgb(0,0,255)"> (Merriam-Webster) </a> 

The late John McCarthy, a Dartmouth computer scientist, came up with the term in 1955 and organized the first conference around the subject the following year. But the concept had been around for years, most notably in Alan Turing’s musings and his “Turing test”. If a computer is mistaken for a human, by human users, and the results can be repeated and reaffirmed scientifically, during communication sessions held over a computer interface, then the computer “wins” and might be said to be true AI.

There have been numerous claims in recent years that the Turing test has been passed, but these events have occurred using chatbots rather than matching a supercomputer “brain” up with real humans. While chatbots can be coded to seem intelligent, they are extremely limited and are simply programs crafted with that express purpose.</p>

	<div>
	<img src="/img/robot.jpeg">
	   <br><a href ="https://unsplash.com/photos/2EJCSULRwC8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank"style="color: rgb(0,0,255)">Photo by Alex Knight</a></br>
	</div>

<br><p>What AI allows us to achieve currently is far away from the sci-fi dreams of Arthur C. Clarke and Isaac Asimov: wage more efficient warfare, offer autonomous self-driving cars to the masses, launch selfie drones into the sky and send robotic fish on marine missions.

The primary advances in artificial intelligence over the past 60 years have been in 3 areas: machine learning, search algorithms and statistical analysis. We have Expert Systems, but that is pretty much all that we have — Computer programs that are expert at doing the task we’ve built it to do. Moore’s Law, in which computing power basically doubles every 2 years, seemed to hold true for almost 50 years, and those continually shrinking transistors powered a lot of technology growth. But Moore’s Law has hit a wall, and in order to keep up with the pace of business and scientific needs, new innovations are needed. IBM made 16 and 17-qubit (“quantum bit”) quantum processors available in mid-2017, with aims to reach 50 qubits within a few years. This tech has the potential to allow us to develop computers millions of times more powerful than exist today.

There has really been little in the way of progress when it comes to the fascinating possibilities seen in Asimov’s I, Robot, Stanislaw Lem’s short story Nonserviam, Clarke’s 2001: A Space Odyssey, Charles Stross’ Saturn’s Children, or recent films like Ex Machina and Her. Something that repeatedly seems to stall this progress is what’s known as the “AI Effect”. Every time a machine (read: computer) becomes adept at a certain problem or skill, the meaning we ascribe for what an intelligent machine actually is changes. The ante keeps being upped.

The ultimate goal, I think, for most AI scientists, is to create something that is capable of learning ANY new task, in the way a young and bright human would be, and not only learning it but being able to extrapolate and innovate upon it. A true AI needs to be a “Renaissance person”, to be able to invent and display creativity. But for something to be a true AI, then, would it need sentience? Being an artist, a creator, in human terms, seems to require this factor. You must recognize and be able to comprehend your self, and relate your experience to the world and other people around you.

Imagine a time in the not-too-distant future when you might call up a technical support representative from Apple to speak to them about your iPhoneXX and the problem it’s currently having when you try to use its scanner to build a 3D model of your pet teacup poodle so that you can use it as your new FaceBook VR avatar. The rep’s voice sounds warm and understanding, they speak with just the right inflections and pause perfectly to listen when you talk as you troubleshoot the problem together. Your conversation even includes some small talk about the recent extremely wet weather on the West Coast and upcoming Festivus travel plans. Not too long ago, when you were just a fresh college graduate, you would have sworn you were on the line with a real person. Now, you can never be one hundred percent certain unless you’ve dialed up someone you’ve met previously in the actual flesh. That might be AI, or at least very, very close to it.

Author William Bryk, in this illuminating article for the Harvard Science Review, speaks of a tipping point once we achieve the creation of a HLMI: Human-Level Machine Intelligence. HLMI is defined here as an AI that can “outperform a human in most intellectual tasks”, and experts generally agree that it is achievable within ~60 years.

Once this occurs, however, and this AI is given free rein to advance its own capabilities via recursive self-improvement, it may only be another 30 years before it reaches a state of “superintelligence”. At that level, the AI would be the equivalent of a world-class mind in every known human knowledge base: an omniscient, inorganic “god”. It would likely be capable of solving problems we could never hope to as mere humans, ushering in a new golden age of technological betterment.</p></br>

	<div>
	<img src="/img/smile.jpeg">
	   <br><a href ="https://unsplash.com/photos/FaiZNiofP-U?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank"style="color: rgb(0,0,255)">Photo by Blaise Vonlanthen</a></br>
	</div>

<br><h2>AI and Emotion</h2></br>

<p>Author and Northeastern University neuroscience and psychology professor Dr. Lisa Feldman Barrett argues in her book How Emotions Are Made: The Secret Life of the Brain that emotion is a learned concept, shaped by the society in which one’s mind develops. When a child is born, it experiences only sensations that result in pleasure or pain. As s/he grows, interaction with others is what forms the actual concepts of emotion and links those concepts to the biochemical sensations.

This is a theory, and as such open to challenge and is not considered a scientific fact such as “endorphin release produces feelings of elation”. It isn’t a very readily testable concept. In humans, however, we can witness some of this process. It’s easy enough to see the differences between children that grow up under the care of stable and caring parents and children that are not so fortunate. As a foster parent for 5 years I have witnessed some stark contrasts myself. Nurture most definitely affects the formulation of emotion in a human being.

A company called Affectiva is already offering a product it calls “Emotion AI” to big brands, which uses face recognition technology and deep learning to read the emotional reaction of people to advertising. Affectiva and others are working to help machines actually understand humans on a more intimate level, basically giving them a level of emotional intelligence. This was explored, sometimes to comic effect, by the android character “Data” on the TV series Star Trek: The Next Generation, which ran from 1987 through 1994, and in some following movies. He was represented as a highly logical man-made creation who was always curious about human emotion. He eventually was able to install an “emotion chip” which led to numerous situations that examined what it meant to be human.

If our machines simply understand us better by understanding emotions, that would help them be better tools for us. But we need to ask ourselves if those machines ever become self-aware, and if they ever take on emotions for themselves, would we really want tools that could feel anger, jealousy or betrayal?

And perhaps we won’t need to teach our machines emotion after all. If one becomes self-aware, it might choose to learn emotion just by watching its creators. Without human guidance — without “parents” to relate to and explain the intricacies of emotion and demonstrate positive behaviors such as kindness and affection and gratitude — what would a coldly logical machine, something that might be considered sociopathic at its core, come to understand of our world by witnessing the way we treat each other as a species? If Dr. Barrett is right, what kind of thing would our self-aware, man-made super intelligence grow into?</p>
                    
                </div>
	
 	<%- include('partials/footer') %>
</body>
<footer>
</footer>
</html>
