<!DOCTYPE html>
<html>


<h1>Reply to your ad on myafrihub</h1>
<h2>Do not reply to this mail directly</h2>

<p>Poster: <%= poster %></p> 
<p>Reply to: <%= email %></p> 
<p>Response:<%= body %></p>


</html>
