<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Afrihub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
body {
  margin: 0;
  font-size: 28px;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.sticky + .content {
  padding-top: 60px;
}

.wrapper {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(50, 50, 50, 0.5);
}

.search-background img {
    width: 100%;
}

</style>
</head>
        <%- include('partials/navbar') %>
<body>
    <div class="container">
        <div class="jumbotron">
		<div class="search-background">
	<img src="/img/mobile.jpeg">
            <h1>Top 5 Technologies To Create Android Apps in 2018</h1>
		</div>
        </div>

        <div class="row">
           <div class="panel panel-default">
                        <div class="panel-body">                
<br><p><font color="green"> <i class="fa fa-user"></i> Created by: <a href="https://medium.com/@hamzamahmood" target="_blank"style="color: rgb(0,0,255)"> Hamza Mahmood, </font></a></p>       
</br>
<br> <p class="list-group-item-text"> Halfway through 2018, we wanted to talk about the different trends and technologies relevant to Android developers. We did our research and felt it essential to list down then explain about the hottest platforms that are being employed develop cutting edge android-based apps.</p></br>

<br><h2> 1. Kotlin </h2></br>
  <br><img src="/img/kot.png" style="width:100%"></br>



<br><p>We know that uptill now, Java has been the dominant language for creating robust Android applications but it should be noted that its old, complex and has not really made it a point to update itself with time.</br>

<br>Java has a really bad way of dealing with errors and bugs which presents itself in the form of the app crashing. Kotlin takes care of it neatly by presenting the errors in compile time. That’s way before you send the app off for testing purposes. So this saves time for developers and companies.</br>

<br>Enter Kotlin. Based on the Java Virtual Machine, this open-source language is becoming popular among Android application developers since it arrived on the scene in February 15, 2016. The best part about Kotlin is that it can easily integrate with Android Studio, the most contemporary development environment made solely to create Android apps.</p></br>


<br><h2> 2. Angular Material Design </h2></br>

  <br><img src="/img/ang.png" style="width:100%"></br>

<br><p>Material Design has been around since 2014 but we think that it not much attention has been given to how awesome it is. Considering companies are adopting mobile-first strategies, the main predicament applications face is badly designed user experiences (UX). Hence, Google focused on creating this design language that can motivate product developers to create practical yet aesthetically captivating android applications.</br>

<br>Material design basically adds in the uniformity of experience that Google products have been lacking. The mobile-centric approach also represents the company’s will to make paradigm shifts in design. For users, the design standards will give more depth to app UX.</br>

<br>To give an example, drop shadows and gradients can used to showcase physical space being occupied by a UI element such as a button, navigation bar or even a typing field.</br>


<br><h2> 3. React-native </h2></br>
  <br><img src="/img/react.png" style="width:100%"></br>

<br>Reactjs is the next big thing for creating high-end interactive user interfaces (UIs). Everyone is talking about it and for good reason but it does not have the complete files to . So, in order to cater to the android market, the developers created React-native. The front-end library is lightweight, extensible and can be easily integrated with android studio</br>

<br>React-Native is a framework that utilizes Reactjs components map the actual real native iOS or Android UI components that get rendered on the app.</br>


<br><h2> 4. Figma </h2></br>
  <br><img src="/img/fig.png" style="width:100%"></br>

<br>Okay, we know that we are talking about android app development but to create an app, you need a chalk out the whole workflow for the mobile app. Figma is a modern tool that facilitates designers and android developers to create fully functional UIs of the app. The tool has a different varieties of design elements that can be added with the tool’s drag-and-drop feature.</br>

<br>Figma works on the web, which means you do not have to install it. You directly go to their site and start working on projects right from the get-go. The best thing about it is that is allows full collaboration with multiple designers, get feedback from project manages and make corrections to an existing design — a feature lacking in most major app design softwares.</br>

<br>We will touch upon Figma at a later blog because of the multiple features it has in one package.</br>

<br><h2> 5. Firebase </h2></br>
  <br><img src="/img/firebase.png" style="width:100%"></br>


<br>Developing android applications used to a burdensome 10 years ago but with so many tools that leverage development time, it assists developers to focus more on the user experience, features and overall structure of the app.</br>

<br>Firebase is one such tool that includes multiple services that helps businesses take care of their development needs. It is useful in building mobile and web applications integrated with a real-time database. There is no explicit need to configure a server, since that is taken care by Firebase itself. Since Google took over Firebase, the major internet company added more features that enabled more developers to shift to this platform.</br>

<br>Right now, most android apps are using Firebase because of the following features: </p></br>

<br>
<ul>
<li>Authentication</li>
<li>Storage capabilities for user generated content</li>
<li>Cloud Messaging for alerting customers about updates</li>
<li>Crash Reporting</li>
<li>Advertisements using adwords or admob</li>
</ul>
</br>

<br><h2> Conclusion </h2></br>

<br>With the power packed features of all the latest platforms, we see that the need for Android application development services are only rising. Enterprises or businesses that are looking to solve consumer problems look towards mobile solutions first. Using the latest platforms and technologies would mean better performing and functioning applications that goes towards improving overall user experience of potential customers.</br>

                    
                </div>
	
 	<%- include('partials/footer') %>
</body>
<footer>
</footer>
</html>
