<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

    <style>
body {
  margin: 0;
  font-size: 28px;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.sticky + .content {
  padding-top: 60px;
}

.wrapper {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(50, 50, 50, 0.5);
}
</style>
        <%- include('partials/navbar') %>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h1>POST AD</h1>
                <h1>Add a New ad</h1>
                <form method="post">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="name"> <i class="fa fa-user"></i> Name: </label>
                                <input type="text" id="poster" class="form-control" name="poster" required>
                            </div>
 			<div class="form-group">
                                <label for="email"> <i class="fa fa-envelope"></i> Email: </label>
                                <input type="text" id="email" class="form-control" name="email" required>
                            </div>

			<div class="form-group">
                                <label for="telephone"><i class="fa fa-phone"></i> Telephone: </label>
                                <input type="tel" id="tel" class="form-control" name="telephone" required>
                            </div>
                           	<div class="form-group">
                        <label for="category"><i class="fa fa-th-large"></i> Category:</label>
                            <select name="category"class="form-control" placeholder="category">
                                <option value="All">All</option>
                                <option value="Assembly Language">Assembly Language</option>
                                <option value="Computer Hardware">Computer Hardwares</option>
                                <option value="Computer Hardware">Computer Accessories</option>
                                <option value="Database">Database</option>
                                <option value="Data Structure">Data Structures</option>
                                <option value="Embedded Systems">Embedded Systems</option>
                                <option value="Game Development">Game Development</option>
                                <option value="Graphics Design">Graphics Design</option>
                                <option value="Mobile Development">Mobile Development</option>
                                <option value="Programming">Programming</option>
                                <option value="Software Engineering">Software Engineering</option>
                                <option value="Shell Scripting">Shell Scripting</option>
                                <option value="Tutoring">Tutoring</option>
                                <option value="Web Application">Web Application</option>
                            </select>
                    </div>
                            <div class="form-group">
                                <label for="title">Title: </label>
                                <input type="text" id="title" class="form-control" name="title" required>
                            </div>
				<div class="form-group">
                                <label for="description"> <i class="fa fa-pencil-square-o"></i> Description: </label>
            			<textarea id="desc" class="form-control"name="body" required></textarea>

                            </div>
                            <button type="submit" class="btn btn-success">Post Ad</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 	<%- include('partials/footer') %>
</body>
</html>
