<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Afrihub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<style>
body {
margin: 0;
font-size: 8px;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 2px;
word-spacing: 0.6px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.sticky + .content {
  padding-top: 60px;
}

.wrapper {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(50, 50, 50, 0.5);
}

.search-background img {
    width: 100%;
}

</style>

        <%- include('partials/navbar') %>
<body>
    <div class="container">
            <div class="col-lg-12 col-md-offset-0">
<div class="panel panel-default">
                        <div class="panel-body">

	<h2> <font color="blue"> Terms and conditions </h2></font>
	<h3> <font color="blue"> Terms of use </h3></font>
	<p style="font-style:normal;"> Welcome to www.myafrihub.com.ng ("MyAfrihub"). Thanks for stopping by. These Terms of Use, the Privacy Policy, Terms and all policies posted on our site set out the terms on which we offer you access to and use of our site, services, applications and tools (collectively "Services"). You can find an overview of our policies here. All policies, and the Privacy Policy are incorporated into these Terms of Use. You agree to comply with all the following when accessing or using our Services. </p>

	<h3> <font color="blue"> Using MyAfrihub Services. </h3> </font>
        <p style="font-style:normal;">You will post in the appropriate category or area and will not do any of the following prohibited things:</p>
	<ul>
	<li>Must not post prostitution, escort or accompanying services </li>
        <li>Must not post Counterfeit items and distribution of copyrighted material. Including currency, stamps, coins, e-books.</li>
        <li>Must not post Illegal Items and Services</li>
	<li>Must not post Stolen Property. </li>
	<li>Must not post Illegal Drugs and Drug Paraphernalia (or any mention of related items or activities). Including narcotics, steroids, marijuana, medicinal marijuana, etc. </li>
	<li>Must not violate any laws </li>
        <li>Must not be false or misleading;</li> 
        <li>Must not infringe any third-party right;</li>
        <li>Must not distribute or contain spam, chain letters, or pyramid schemes;</li>
        <li>Must not distribute viruses or any other technologies that may harm MyAfrihub or the interests or property of MyAfrihub users;</li>
        <li>Must not impose an unreasonable load on our infrastructure or interfere with the proper working of the MyAfrihub;</li>
        <li>Must not copy, modify, or distribute any other person's content;</li>
        <li>Must not use any robot, spider, scraper or other automated means to access MyAfrihub and collect content for any purpose without our express written permission;</li>
        <li>Must not harvest or otherwise collect information about others, including email addresses, without their consent;</li></ul>

	<h3><font color="blue"> Content.</h3></font> 
             <p style="font-style:normal;">MyAfrihub Services contains stuff from us, you, and other users. You agree not to copy, modify, or distribute MyAfrihub Services, our copyrights or trademarks. When you give us content, you are granting us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right to exercise the copyright, publicity, and database rights to that content.We reserve the right to remove content where we have grounds for suspecting the violation of these terms or the rights of any other party. </p>

       <h3> <font color="blue"> Intellectual Property Infringements.</h3></font> 
            <p style="font-style:normal;"> Do not post content that infringes the rights of third parties. This includes, but is not limited to, content that infringes on intellectual property rights such as copyright and trademark (e.g. offering counterfeit items for sale). We reserve the right to remove content where we have grounds for suspecting the violation of these terms, our policies or of any party's rights. </p> 

       <h3> <font color="blue"> Disclaimers and Limitations of Liability.</h3></font>
           <p style="font-style:normal;"> The MyAfrihub Services are provided “as is” and “as available”. You agree not to hold us responsible for things other users post or do. You also agree not to hold us responsible for the payment processing of other service providers such as banks and PayPal  (each a “Third Party Payment Processor”.  For greater certainty, as applicable, if you link a Third Party Payment Processor account to your MyAfrihub Account, you acknowledge and agree that by making payments through MyAfrihub with that Third Party Payment Processor, you are bound by that Third Party Payment Processor’s applicable terms and conditions, and we are not liable for any loss, claims or damages howsoever arising in connection with that third party’s services). As most of the stuff on the MyAfrihub Services comes from other users, we do not guarantee the accuracy, completeness, efficacy or timeliness of any postings or user communications or the quality, safety, or legality of what is offered. We also cannot guarantee continuous or secure access to our Services. Notification functionality in our Services may not occur in real time. Such functionality is subject to delays beyond our control, including without limitation, delays or latency due to your physical location or your wireless data service provider’s network. Accordingly, to the extent legally permitted we expressly disclaim all warranties, representations and conditions, express or implied, including those of quality, merchantability, merchantable quality, durability, fitness for a particular purpose and those arising by statute. We are not liable for any loss, whether of money (including profit), services, goodwill, or reputation, or any special, indirect, or consequential damages arising out of your use of MyAfrihub, even if you advise us or we could reasonably foresee the possibility of any such damage occurring. Some jurisdictions do not allow the disclaimer of warranties or exclusion of damages, so such disclaimers and exclusions may not apply to you. </p>

        <h3> <font color="blue"> Indemnification.</h3> </font>
             <p style="font-style:normal;">You will indemnify and hold harmless MyAfrihub and its affiliates and our and their respective officers, directors, agents and employees (each an “Indemnified Party”), from any claim made by any third party, together with any amounts payable to the third party whether in settlement or as may otherwise be awarded, and reasonable legal costs incurred by any of the Indemnified Parties, arising from or relating to your use of the MyAfrihub Services, any alleged violation by you of the applicable terms, and any alleged violation by you of any applicable law or regulation. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter subject to indemnification by you, but doing so will not excuse your indemnity obligations. </p>

       <h3> <font color="blue"> Personal Information. </h3></font> 
             <p style="font-style:normal;">By using MyAfrihub Services, you agree to the collection, transfer, storage and use of your personal information by MyAfrihub.com.ng. (the "data controller") on servers located in any part of the world. </p>



    </div>
    </div>
    </div>


    </div>

<%- include('partials/footer') %> 
</body>
